@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen  and (max-width:853px) 
{
    .sign-out
  {
    left: 20rem;
  }
}
@media screen  and (max-width:642px) 
{
  
    .sign-out
  {
    left: 15rem;
  }
  .chat-inp
  {
    padding: 0;
  }
}

